.value-box {
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}
.value-box .title {
  font-size: 16px;
  color: white;
}
.value-box .value {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.value-box .icon {
  font-size: 32px;
  margin-bottom: 10px;
}
.value-box .blue {
  border-color: #304794;
  background-color: #304794;
}
.value-box .red {
  border-color: #df536b;
  background-color: #df536b;
}
.value-box .green {
  border-color: #23ff00;
  background-color: #23ff00;
}
