/* General Layout */
* {
  box-sizing: border-box;
}

.container-fluid {
  padding: 0 !important;
  overflow: hidden;
}

.tab-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  padding: 23px 10px 0px 10px;
}

.footer {
  margin-top: auto !important;
  background-color: #2e4793;
  color: #ffffff;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  padding: 3px;
}

/* Data Tab checks */
.check-result {
  margin-top: 8px;
  margin-bottom: 12px;
  border: 2px solid black;
  padding: 10px;
}
