body {
  font-family: 'Open Sans';
}


h1, h2, h3{
  margin-bottom: 4px;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20pt;
  color: #2e4793;
}

h2 {
  font-weight: bold;
  font-size: 16pt;
}

h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 15pt;
}

h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 14pt;
  margin-bottom: 0px;
}

h4 {
  font-weight: 600;
  font-style: italic;
  font-size: 12pt;
  margin-bottom: 0px;
}

p + h1 {
  margin-top: 16px; /* Add top margin to headings after a paragraph */
}

p + h2,
p + h3,
p + h4 {
  margin-top: 12px; /* Add top margin to headings after a paragraph */
}
